<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whu.bookstore.dao.BooksMapper">
    <select id="selectByUuid" resultType="com.whu.bookstore.entity.Book">
        select * from books
        where uuid = #{uuid}
    </select>

    <select id="selectLikeName" resultType="com.whu.bookstore.common.BookVo">
        select uuid,name,image,sort,price,stock from books
        <where>
            <if test="sort != null">
                and sort = #{sort}
            </if>
            <if test="name != null and name != ''">
                and name LIKE CONCAT(CONCAT('%', #{name}), '%')
            </if>
        </where>
    </select>

    <select id="selectAllBySort" resultType="com.whu.bookstore.common.BookVo">
        select uuid,name,image,sort,price,stock from books
    <if test="sort!=null">
        where sort = #{sort}
    </if>
        order by name
    </select>

    <insert id="insertBook" parameterType="com.whu.bookstore.entity.Book">
        insert into books(uuid, name, author, press, sort, price, stock, description, image, create_time)
        values(#{uuid}, #{name},#{author},#{press},#{sort},#{price},#{stock},#{description},#{image},now())
    </insert>

    <update id="updateBook" parameterType="com.whu.bookstore.entity.Book">
        update books SET name=#{name},author=#{author},press=#{press},sort=#{sort},
        price=#{price},stock=#{stock},description=#{description},image=#{image}
        where uuid = #{uuid}
    </update>

    <delete id="deleteBook">
        delete from books
        where uuid=#{uuid}
    </delete>

    <update id="updateStock" parameterType="com.whu.bookstore.entity.Book">
        update books set stock = stock - #{num} where uuid = #{uuid};
    </update>

</mapper>