<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whu.bookstore.dao.OrdersMapper">
    <select id="selectByOrderId" resultType="com.whu.bookstore.entity.Order">
        select * from orders
        where orderId = #{orderId}
        order by bookId
    </select>

    <insert id="insertOrder" parameterType="com.whu.bookstore.entity.Order">
        insert into orders (uuid,orderId,username,bookId,num,price, time,name, phone, location)
        values (#{uuid},#{orderId},#{username},#{bookId},#{num},#{price},#{time},#{name},#{phone},#{location})
    </insert>

<!--    <select id="selectByUsername" resultType="com.whu.bookstore.entity.Order">-->
<!--        select * from orders-->
<!--        where username = #{username}-->
<!--        order by time-->
<!--    </select>-->

    <select id="selectByUsername" resultType="com.whu.bookstore.common.OrdersVo">
        select orderId,bookId,num,orders.price,time,orders.name as receiver,phone,location,books.name as bookName,books.image from books,orders
        WHERE bookId = books.uuid and username = #{username}
        order by time
    </select>


</mapper>